*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: rgb(238, 230, 255);
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
}

.navbar {
    background-color: rgb(58, 18, 58);
    height: 70px;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar * {
    color: #f2f2f2;
    margin-left: 60px;
}

.customDiv {
    width: auto;
    margin: 40px;
    padding: 40px;
    min-height: auto;
    background-color: rgb(59, 58, 58);
    color: rgb(236, 228, 228);
    text-align: center;
    font-size: smaller;
    box-shadow: 0px 0px 10px 2px rgba(63, 61, 61, 0.35);
    border: solid 1px black;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: lightgray;
}

.btn btn-primary {
    background-color: gray;
}

input[type=text] {
    background-color: lightgray;
}

input[type=email] {
    background-color: lightgray;
}

textarea {
    background-color: lightgray;
    font-size: 16px;
    resize: none;
}

button[type=send] {
    background-color: gray;
}